.posts{
    height: 300px;
    overflow-x: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: #b1a5de;
    padding: 10px;
}
.post-item{
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post-item > p:first-letter{
    text-transform: uppercase;
}
.post-item .btn:hover{
    background-color: #ff6c3a;
}
.post-details p{
    margin-bottom: 10px;
}
.post-details span{
    font-weight: bold;
    font-size: 1.1rem;
}