.wrap{
    padding: 0 50px 50px;
}
nav{
    display: flex;
}
nav a{
    display: block;
    width: 100px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: black;
    color: white;
    text-decoration: none;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
}